In [78]:
import pandas as pd
import numpy as np

tags = pd.read_csv("tags_onehot_final3.csv")
tags = tags.drop("Unnamed: 0", axis=1)
tags

,animals,annual,busess,celebrities,crime,death,family,food,friends,health,...,music,our,parents,relationships,school,sex,terest,tv,workplace,year
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3883,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3884,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3885,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3886,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3887,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [80]:
body = pd.read_csv("body_onehot_final2.csv")
body = body.drop("Unnamed: 0", axis=1)
body

,abl,absolut,accept,accord,account,acknowledg,across,act,action,activ,...,worri,worth,would,write,wrong,yeah,year,yet,young,youv
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3883,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3884,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3885,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3886,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
3887,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Here is our onehot encoded tags. This bag of words model will be our target values for our classifier. Before we move on, we have to merge this dataframe with our headlines data frame into one large model which we will feed into our classifier.

In [81]:
#2856 is the column number where the last headline word is
data_onehot = pd.concat([body, tags], axis=1)
data_onehot

,abl,absolut,accept,accord,account,acknowledg,across,act,action,activ,...,music,our,parents,relationships,school,sex,terest,tv,workplace,year
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3883,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3884,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3885,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3886,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3887,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [86]:
a_series = (tags != 0).any(axis=1)

In [88]:
data_onehot = data_onehot.loc[a_series]
data_onehot

,abl,absolut,accept,accord,account,acknowledg,across,act,action,activ,...,music,our,parents,relationships,school,sex,terest,tv,workplace,year
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3882,0,1,0,0,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3883,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3884,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3886,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3887,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

We will be using the last row in this data frame to test our classifier

In [149]:
new_headline_onehot = pd.read_csv("new_headline_onehot_final.csv")
new_headline_onehot

,abbey,abc,abduct,abil,abl,abort,absolut,abus,academi,accept,...,yoga,york,yorker,young,youth,youtub,youv,zero,zoo,zoom
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6585,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6586,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6587,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6588,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6589,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [150]:
test_headlines = new_headline_onehot.values
test_headlines

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [89]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(data_onehot, test_size=0.2, random_state=42)

In [90]:
train_set

,abl,absolut,accept,accord,account,acknowledg,across,act,action,activ,...,music,our,parents,relationships,school,sex,terest,tv,workplace,year
2238,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2377,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2214,0,0,0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
1087,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2643,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1620,0,1,1,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1673,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2013,0,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1290,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [130]:
test_set

,abl,absolut,accept,accord,account,acknowledg,across,act,action,activ,...,music,our,parents,relationships,school,sex,terest,tv,workplace,year
1178,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1182,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
933,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
662,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3286,0,0,0,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2437,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
274,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3265,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,1,0,0,1,0,0,0,1,0,1,...,0,0,0,0,1,0,0,0,0,0
1825,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [93]:
X_train = train_set.iloc[:, :846].values
X_train.shape

(2083, 846)

In [94]:
y_train = train_set.iloc[:, 846:].values
y_train.shape

(2083, 23)

In [95]:
X_test = test_set.iloc[:, :846].values
X_test.shape

(521, 846)

In [96]:
y_test = test_set.iloc[:, 846:].values
y_test.shape

(521, 23)

In [132]:
X_test_df = test_set.iloc[:, :846]
X_test_df

,abl,absolut,accept,accord,account,acknowledg,across,act,action,activ,...,worri,worth,would,write,wrong,yeah,year,yet,young,youv
1178,0,0,0,0,1,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
1182,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
933,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
662,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
3286,0,0,0,0,1,0,0,1,0,1,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2437,0,0,0,1,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
274,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3265,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
96,1,0,0,1,0,0,0,1,0,1,...,1,0,1,0,0,0,0,0,0,0
1825,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [142]:
y_test_df = test_set.iloc[:, 846:]
y_test_df

,animals,annual,busess,celebrities,crime,death,family,food,friends,health,...,music,our,parents,relationships,school,sex,terest,tv,workplace,year
1178,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1182,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
933,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
662,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3286,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2437,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
274,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3265,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1825,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [112]:
from sklearn.multioutput import MultiOutputClassifier
from sklearn.naive_bayes import MultinomialNB
nb_clf = MultiOutputClassifier(MultinomialNB()).fit(X_train, y_train)

In [159]:
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
nb_scores = cross_val_score(nb_clf, X_test, y_test, cv=3)
nb_scores.mean()

0.1752285779445608

In [108]:
from sklearn.neighbors import KNeighborsClassifier
kn_clf = MultiOutputClassifier(KNeighborsClassifier()).fit(X_train, y_train)

In [147]:
some_headline = X_test[18, :]
some_headline = some_headline.reshape(1,-1)
some_headline

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 1, 0, 0, 1, 0, 0, 0]])

In [97]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.multioutput import MultiOutputClassifier
forest_clf = MultiOutputClassifier(RandomForestClassifier(n_estimators=100, random_state=42))
forest_clf.fit(X_train, y_train)

MultiOutputClassifier(estimator=RandomForestClassifier(bootstrap=True,
                                                       ccp_alpha=0.0,
                                                       class_weight=None,
                                                       criterion='gini',
                                                       max_depth=None,
                                                       max_features='auto',
                                                       max_leaf_nodes=None,
                                                       max_samples=None,
                                                       min_impurity_decrease=0.0,
                                                       min_impurity_split=None,
                                                       min_samples_leaf=1,
                                                       min_samples_split=2,
                                                       min_weight_fraction_leaf=0.0,
                                                       n_estimators=100,
                                                       n_jobs=None,
                                                       oob_score=False,
                                                       random_state=42,
                                                       verbose=0,
                                                       warm_start=False),
                      n_jobs=None)

In [109]:
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
forest_scores = cross_val_score(kn_clf, X_test, y_test, cv=3)
forest_scores.mean()

0.011505326334905764

In [148]:
tag_array = nb_clf.predict(some_headline)

In [149]:
tag_array

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0]])

In [50]:
tag_array.flatten()

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [154]:
def index_counter(array):

    index = -1 #Staring index is 0
    index_array = []
    for x in array:
        if x == 0:
            index = index + 1
        else:
            index = index +1
            index_array.append(index)
    return index_array

In [155]:
index_array = index_counter(tag_array.flatten())

In [157]:
tags_words_array = []
for i in index_array:  
    tags_words_array.append(y_test_df.columns.values[i])

In [158]:
tags_words_array

['music']